body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.card {
    background: white;
    padding: 30px;
    border-radius: 18px;
    width: 320px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.search {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 65%;
}

button {
    padding: 10px;
    cursor: pointer;
}

.result img {
    width: 90px;
}

.temp {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 14px;
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 8px;
}

.day-card {
    background: rgba(255,255,255,0.6);
    padding: 8px;
    border-radius: 10px;
    width: 55px;
    font-size: 12px;
}

.day-card img {
    width: 35px;
}
